<header>
    <div class="jumbotron jumbotron-fluid">
      <div class="conteiner">
        <h1 class="display-4">Shop App</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </header>