 <div class="navbar bg-primary navbar-dark navbar-expand-sm">
    <div class="container">
      <a href="/" class="navbar-brand">ShopAPP</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/product/list" class="nav-link">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Orders</a>
        </li>
        <li class="nav-item">
          <a href="/admin/productlist" class="nav-link">EditProducts</a>
        </li>
         <li class="nav-item">
          <a href="/admin/addproduct" class="nav-link">Add Product</a>
        </li>
        <li class="nav-item">
          <a href="/admin/categorylist" class="nav-link">Edit Category</a>
        </li>
        <li class="nav-item">
          <a href="/admin/addcategory" class="nav-link">Add Category</a>
        </li>
      </ul>
    </div>
  </div>
