@{Layout="_layout";}

<form asp-controller="Admin" asp-action="addProduct" method="POST">
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" name="name">
        </div>
         <div class="col-sm-10 offset-sm-2">
            <button class="btn btn-primary" type="submit">Add Category</button>
        </div>
    </div>
</form>